<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body{ 
            background: url(static/background/jill.gif);
            background-size:1920px 1080px;
            background-position:center 0;
            background-attachment:fixed;
        }

        h1{
            font-family: "Courier New", Courier, monospace;
            font-weight: bold;
            font-stretch: extra-expanded;
            text-align: center;
            background-color: #4B0082;
            color: white;
        }
      
    </style>
    <title>Picture Preview</title>
</head>
<body>
    <h1 style="color:white">Picture Preview</h1>
    
    <div style="text-align:center">
        <a href="./upload" style="color:white;font-size:28px;">Back to Upload</a>
        <br>
        <br>
        <img src="{{ url_for('static', filename= './images/output.jpg',_t=val1) }}" alt="your image is hijacked by ET."/>
    </div>
</body>
</html>
